body {
  margin: 0;
  padding: 0;
  background-color: dimgrey;
  overflow-x: scroll;
}

hr {
  border: 1px dashed black;
}

.titletop {
  position: fixed;
  padding-top: 1rem;
  left: 50%;
transform: translateX(-50%);
  color: gold;
}

.titlebottom {
  position: fixed;
  bottom: 1rem;
  left: 50%;
transform: translateX(-50%);
  color: gold;
}

a:link {
  background-color: white;
  text-decoration: none;
  color: black;
}

a:visited {
  background-color: white;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: dashed;
  color: dimgray;
}

a:active {
  color: dimgray;
}

.project {
  display: inline-block;
  background-color: dimgrey;
  color: gold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_item {
  display: none;
  position: absolute;
  background-color: gainsboro;
  min-width: 100%;
  max-height: 100px;
  overflow-y: scroll;
}

.dropdown_item a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px;
}

.dropdown:hover .dropdown_item {
  display: block;
}

.highlight {
  display: inline;
  background-color: black;
  color: white;
}

.container {
  top: 10rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  min-width: 325px;
  max-height: 500px;
  padding: 1rem;
  background-color: gold;
  color: black;
  overflow-y: scroll;
}

.columnalmostfinished {
  min-width: 325px;
  max-height: 500px;
  padding: 1rem;
  background-color: goldenrod;
  color: black;
  overflow-y: scroll;
}

.columnnotfinished {
  display: flex;
  flex-wrap: wrap;
  min-width: 325px;
  max-height: 500px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: gold;
}

/* .shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

.RandomPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-family: "Helvetica", sans-serif;
}

.RandomPicker__choice {
  display: flex;
  align-content: center;
  margin: 0;
  margin-bottom: 1em;
  color: var(--color-text);
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.RandomPicker__button {
  display: block;
  padding: 0.8em 1.6em;
  min-width: 160px;
  color: var(--color-button-text);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0;
  border-radius: 4em;
  background-color: var(--color-button-start);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 150ms ease-in-out;
}
.RandomPicker__button--stop {
  background-color: var(--color-button-stop);
}
.RandomPicker__button--reset {
  color: var(--color-text);
  font-size: 14px;
  text-transform: lowercase;
  background-color: inherit;
}
.RandomPicker__button--reset[disabled] {
  color: var(--color-text-light);
  text-decoration: line-through;
  cursor: not-allowed;
}

.RandomPicker__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RandomPicker__controls > *:not(:last-child) {
  margin-bottom: 16px;
}
